body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    padding: 10px;
}

main{
    display: flex; /**ocupamos para centtrar el contenido**/
    justify-content: center;
    align-items: center;
    height: 92vh;

    /* atributos extras
    border: 10px solid steelblue;
    border-radius: 500px;
    box-shadow: 0 20px;
    */
}

.img{
    
    height: 80px;
    width: 80px;
}

.Ftos{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    padding: 10px;
}

section{
    text-align: center;
}

@media(max-width: 768px){

    header, footer{
        text-align: center;
    }
    main{
        flex-direction: column;
    }
}